main {
  min-height: 80vh;
}
.custom-margin-top {
  margin-top: 7px;
}

.custom-trans {
  transition-property: box-shadow;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
